:root {
    --ucl-dark-blue: #004aad;
    --ucl-light-blue: #489cfc;
    --ucl-darker-blue: #013375;
    --ucl-duck-yellow: #ffde59;
    --ucl-background: #212121;

    --pH-purple: #9021ff;
    --pH-grey: #1c1c1c;
    --pH-blue: #33ccff;
    --pH-pink: #e01fff;

    --text-shadow-blur: 0;
    --box-shadow-blur: 3px;
}