:root {
    --ucl-dark-blue: #004aad;
    --ucl-light-blue: #489cfc;
    --ucl-darker-blue: #013375;
    --ucl-duck-yellow: #ffde59;
    --ucl-background: #212121;

    --pH-bg:     #1f1f1f;
    --pH-purple: #6419dc;
    --pH-grey: #0d0d0d;
    --pH-blue: #2bcef0;
    --pH-pink: #e021ff;

    --text-shadow-blur: 0;
    --box-shadow-blur: 3px;
}